stages:
  - test
  - publish

sast:
  stage: test
include:
  - template: Security/SAST.gitlab-ci.yml

publish_typedoc_from_package:
  stage: publish
  image: node:lts-alpine
  rules:
    - if: '$CI_PIPELINE_SOURCE == "trigger"'

  before_script:
    # Add tools needed to add the API documentation
    - apk add --no-cache curl unzip rsync git
    - git config user.email "web-development@365id.com"
    - git config user.name "Continuous Integration"
  script:
    # Get the API documentation artifacts from the trigering repository
    - >
      curl --fail --location
      --header "PRIVATE-TOKEN: ${WEBSDK_TOKEN}"
      --output artifacts.zip
      "${CI_API_V4_URL}/projects/${SRC_PROJECT_ID}/jobs/${SRC_JOB_ID}/artifacts"
    - unzip -o artifacts.zip -d artifacts

    # Sync the API documentation from the triggering respository
    - mkdir -p docs
    - rsync -a --delete "artifacts/docs/" "docs/"
    - rsync -a "artifacts/README.md" "README.md"

    # Add, Commit and push a new commit with the changes in the API documentation.
    - git add README.md
    - git add "docs/"
    - git commit -m "Publishing API documentation version ${DOC_VERSION}" || echo "No changes to commit"
    - git push origin HEAD:main
