<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>365id web SDK example - error</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>ERROR</h1>
            <p>There was an error during the verification.</p>
            <p>Message: <span id="errorMessage"></span></p>
            <a href="/">Start Over</a>
        </div>
        <script>
            // Read URL parameters
            const params = new URLSearchParams(window.location.search);

            // Get specific parameter
            const msg = params.get("message");

            // Display it inside the page
            document.getElementById("errorMessage").textContent = msg;
        </script>
    </body>
</html>
