<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>365id web SDK example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div id="scanItem"></div>

   <script type="module">
    import { IdVerification365Id } from "./vendor/index.js";

    const verification = new IdVerification365Id()

    const webSdkToken = "{{ web_sdk_token }}";
    const initOptions = {
      languageTag: "sv-se"
    };

    // Read URL parameters
    const params = new URLSearchParams(window.location.search);

    // Get specific parameter
    const startMethod = params.get("startMethod");

    verification.init(
      "scanItem",
      window.location.origin + "/public",
      initOptions
    );

    var startOptions = {}
    switch (startMethod) {
      case "skip_selection":
        startOptions.handoffConfig = {
          mode: "current-device"
        };
        break;
      case "id1":
        startOptions.documentSizeType = 1;
        break;
      case "skip_module":
       // Skipping the FaceMatch module
       startOptions.modulesToSkip = [1]
       break;
      case "custom_logo":
        // Override the default theme logo with custom logo
        verification.withTheme({
          logoUrl: window.location.origin + "/static/PoweredBy365id.svg",
        });
        break;
      default:
        break;
    }
    console.log(`startOptions: ${JSON.stringify(startOptions)}`)

    verification.start(
      webSdkToken,
      {
        onTransactionCreated: (transactionId) => {
          console.log("The transaction is created: ", transactionId);
        },
        onComplete: (transactionId) => {
          console.log("Transaction is completed, transactionId: ", transactionId);
          verification.stop()
          window.location.href = `/completed?transactionId=${transactionId}`;

        },
        onUserDismissed: (transactionId) => {
          console.log("User aborted the transaction, transactionId:", transactionId);
          verification.stop()
          window.location.href = `/user_pressed_cancel?transactionId=${transactionId}`;
        },
        onClientConnectionLost: () => {
          const errorMessage = "Oops! The secondary device has lost connection. Please restart the verification process.";
          console.log(errorMessage);
          verification.stop()
          window.location.href = `/error?message=${errorMessage}`;
        },
        onError: (exception) => {
          console.log("Error received from sdk ", exception.integratorMessage);
          verification.stop()
          window.location.href = `/error?message=${exception.message}`;
        },
        onDocumentFeedback: (documentType, countryCode) => {
          console.log("Document feedback received.");
          console.log("Document type: " + documentType + " Country code: " + countryCode);
        },
        onFaceMatchFeedbackWithSource:(faceMatchStatus, faceMatchSource) => {
          console.log("Face match feedback with source received.");
          console.log("Face match feedback: " + faceMatchStatus + " Face match source: " + faceMatchSource);
        }
      },
      startOptions
    ).then(() => {
      // The verification process was possible to start.
      verification.show()   // We show the SDK views using the element id provided in the `.init()` call.
    }).catch((error) => {
      console.error("Unable to start the id verification SDK")
      console.error(error.message)
    });
  </script>
</body>
</html>
